:root {
  --text-main: #212121;
  --back-grey: #2f303a;
  --back-lgrey: #f5f4fa;
  --activity-blue: #2196f3;
  --text-grey: #757575;
  --text-white: #ffffff;
  --text-black: #000;
  --icon-grey: #afb1b8;

  --animation-link: color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  --animation-button: background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  --animation-shadow: box-shadow 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  --animation-border: border 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Общие стили*/
h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

.container-styles {
  padding-bottom: 94px;
  padding-left: 15px;
  padding-right: 15px;
}

.link-styles {
  text-decoration: none;
}

.list-no-markers {
  list-style-type: none;
}

body {
  position: relative;
  color: var(--text-main);
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

/* **** */

.header_container {
  display: flex;
  align-items: center;
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  font-family: "Raleway", sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo_text-blue {
  color: var(--activity-blue);
}

.logo_theme-light {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;

  color: var(--text-black);
}

.logo_theme-dark {
  display: block;
  margin-bottom: 20px;
  margin-right: 0;
  padding: 0;

  color: var(--text-white);
}

.menu_lists {
  display: flex;
}

.menu_list {
  margin-right: 50px;
}

.menu_list:last-child {
  margin-right: 0;
}

.menu_list_link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;

  color: inherit;
  transition: var(--animation-link);
}

.menu_list_link-active {
  color: var(--activity-blue);
}

.menu_list_link-active::after {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--activity-blue);
  border-radius: 2px;
}

.menu_list_link:hover,
.menu_list_link:focus,
.header_list_contact:hover,
.header_list_contact:focus {
  color: var(--activity-blue);
}

.header_lists {
  display: flex;
  margin-right: 0;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.header_list {
  margin-right: 50px;
}

.header_list:last-child {
  margin-right: 0;
}

.header_list_contact {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--text-grey);
  transition: var(--animation-link);
}

.header-icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero-container {
  position: relative;
  min-width: 1200px;
  padding: 200px 0;
  margin: 0 auto;
  text-align: center;

  background-color: var(--back-grey);
  background-image: url(../images/people-work.jpg);
}

.hero-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;

  transition: background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(47, 48, 58, 0.4);
}

.hero-container:hover .hero-overlay {
  /* background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/people-work.jpg); */
  opacity: 1;
}

.hero_title {
  position: relative;
  margin: 0 0 30px 0;

  color: var(--text-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero_button {
  position: relative;
  padding: 10px 32px;

  color: var(--text-white);
  background-color: var(--activity-blue);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  transition: var(--animation-button);
}

.hero_button:hover,
.hero_button:focus {
  background-color: #188ce8;
}

.about-us {
  width: 1200px;
  display: flex;
  padding-top: 94px;
  margin: 0 auto;
}

.about-us_title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-us-container {
  display: flex;
}

.table {
  display: flex;
  margin: -15px;
}

.table-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--back-lgrey);
}

.table_cell {
  margin: 15px;
}

.table_hader {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.table_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--text-grey);
}

.what-we-do {
  width: 1200px;
  margin: 0 auto;
}

.what-we-do_title {
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.what-we-do_lists {
  display: flex;
  justify-content: center;
  margin: -15px;
}

.what-we-do_list {
  margin: 15px;
  position: relative;
}

.what-we-do_title {
  margin: 0 0 50px 0;
}

.what-we-do-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.what-we-do-overlay-text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-white);
}

.team_container {
  width: 1200px;
  padding-top: 94px;
  margin: 0 auto;
}

.team {
  background-color: var(--back-lgrey);
}

.team-description {
  padding-bottom: 30px;
  padding-top: 30px;
}

.team_title {
  text-align: center;
  margin: 0 0 50px 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.team_lists {
  display: flex;
  justify-content: center;
  margin: -15px;
}

.team_list {
  margin: 15px;

  background-color: var(--text-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team_list-title {
  margin: 0 0 10px 0;

  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team_list-text {
  text-align: center;
  margin-bottom: 16px;

  color: var(--text-grey);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.social-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -5px;
}

.social-icon-list {
  margin: 5px;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  color: var(--icon-grey);
  transition: var(--animation-link), var(--animation-button);
}

.social-links:hover,
.social-links:focus {
  color: var(--text-white);
  background-color: var(--activity-blue);
}

.social-links-theme-dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-icon {
  fill: currentColor;
}

.clients {
  width: 1200px;
  padding-top: 94px;
  margin: 0 auto;
}

.clients-title {
  text-align: center;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.clients-logo {
  display: flex;
  justify-content: center;
  margin: -15px;
}

.clients-box {
  width: calc((100%-5 * 30px) / 6);
  margin: 15px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;

  color: var(--icon-grey);
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;

  transition: var(--animation-link), var(--animation-border);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--activity-blue);
  color: var(--activity-blue);
}

.clients-icon {
  fill: currentColor;
}

.footer {
  background-color: var(--back-grey);
}

.footer-section {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  padding-left: 15px;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer_container {
  margin-right: 70px;
}

.footer_contact-details {
  font-style: inherit;
}

.footer_list:not(:last-child) {
  margin-bottom: 9px;
}

.footer_address {
  margin: 0 0 9px 0;

  color: var(--text-white);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer_list_contact {
  color: rgba(255, 255, 255, 0.6);
  font-style: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  transition: var(--animation-link);
}

.footer_list_contact:hover,
.footer_list_contact:focus {
  color: var(--activity-blue);
}

.join-text {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.portfolio {
  border-top: 1px solid rgba(236, 236, 236, 1);
}

.portfolio_container {
  width: 1200px;
  padding-top: 94px;
  margin: 0 auto;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 9px;
  margin: 0 0 50px 0;
  padding: 0;
}

.filter-button {
  padding: 6px 22px;

  background-color: var(--back-lgrey);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;

  transition: var(--animation-shadow), var(--animation-link),
    var(--animation-button);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--activity-blue);
  color: var(--text-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -15px;
}

.project {
  margin: 15px;
  transition: var(--animation-shadow);
}

.project:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-text {
  padding: 20px 24px;
  border-right: 1px solid rgba(238, 238, 238, 1);
  border-left: 1px solid rgba(238, 238, 238, 1);
  border-bottom: 1px solid rgba(238, 238, 238, 1);
}

.project-link {
  color: inherit;
  text-decoration: inherit;
}

.project-title {
  margin: 0 0 4px 0;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-decor {
  overflow: hidden;
  position: relative;
}

.project-description {
  padding: 0;

  color: var(--text-grey);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.project-overlay {
  text-align: left;
  padding: 63px 24px;

  position: absolute;
  top: 0;
  left: 0;
  height: 294px;
  width: 100%;

  transform: translateY(100%);
  transition: transform 2500ms ease;

  background: rgba(33, 150, 243, 0.9);
}

.project-overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;

  color: var(--text-white);
}

.project-decor:hover .project-overlay {
  transform: translate(0);
}

.modal-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;


  background-color: var(--text-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  
}

.modal-img {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
